<h2>Your Pacts</h2>
<%- unless @pacts.empty? -%>
<ol>
<%- for pact in @pacts -%>
	<li><%= pact.users.collect { |user| user.email}.to_sentence %> (<%=l pact.created_at %>)</li>
<%- end -%>
</ol>
<%- end -%>

<h2>You Owe</h2>
<%- unless @debtors.empty? -%>
<table class="table">
	<thead>
		<tr>
			<th>Creditor</th>
			<th>Amount</th>
			<th>You&rsquo;ve Paid?</th>
			<th>They&rsquo;ve Accepted?</th>
		</tr>
	</thead>
	<tbody>
	<%- for debt in @debtors -%>
		<tr class="<%= debt.paid? ? 'success' : 'error' %>">
			<td><%= debt.creditor.email %></td>
			<td><%= number_to_currency debt.amount %></td>
			<td><%= debt.marked_as_paid_by_debtor? ? 'Yes' : 'No' %></td>
			<td><%= debt.marked_as_paid_by_creditor? ? 'Yes' : 'No' %></td>
		</tr>
	<%- end -%>
	</tbody>
</table>
<%- end -%>

<h2>You&rsquo;re Owed</h2>
<%- unless @creditors.empty? -%>
<table class="table">
	<thead>
		<tr>
			<th>Debtor</th>
			<th>Amount</th>
			<th>They&rsquo;ve Paid?</th>
			<th>You&rsquo;ve Accepted?</th>
		</tr>
	</thead>
	<tbody>
	<%- for debt in @creditors -%>
		<tr class="<%= debt.paid? ? 'success' : 'error' %>">
			<td><%= debt.debtor.email %></td>
			<td><%= number_to_currency debt.amount %></td>
			<td><%= debt.marked_as_paid_by_debtor? ? 'Yes' : 'No' %></td>
			<td><%= debt.marked_as_paid_by_creditor? ? 'Yes' : 'No' %></td>
		</tr>
	<%- end -%>
	</tbody>
</table>
<%- end -%>