%h4= @pact.current_stand

%table.table
  %thead
    %tr
      %td --
      %td= @pact.users.first.relative_name
      %td= @pact.users.last.relative_name
      %td Result
  %tbody
    - @pact.log.each_with_index do |data, i|
      - week = ( @pact.weeks_so_far - i )
      %tr
        %td{width: "20%"}
          Week #{week}
          %br
          %small.muted 
            #{l data[:date] - 1.week, format: :long} - 
            %br
            #{l data[:date], format: :long}

        - notice = data[:date].end_of_day.future? ? "#{distance_of_time_in_words data[:date].end_of_day.to_time - Time.now } left to write something!" : "Booo, didn't write one!"
        %td{width: "30%"}= data[:post_by_user1] ? (link_to data[:post_by_user1].title, data[:post_by_user1].url, target: "_blank") : notice
        %td{width: "30%"}= data[:post_by_user2] ? (link_to data[:post_by_user2].title, data[:post_by_user2].url, target: "_blank") : notice
        %td{width: "20%"}
          - if data[:date].end_of_day.future? && ( !data[:post_by_user1] || !data[:post_by_user2] )
            Not sure yet..
          - elsif data[:post_by_user1] && !data[:post_by_user2]
            = link_to @pact.users.first.relative_name, @pact.users.first
            won £5 this week.
          - elsif !data[:post_by_user1] && data[:post_by_user2]
            = link_to @pact.users.last.relative_name, @pact.users.last
            won £5 this week.
          - elsif data[:post_by_user1] && data[:post_by_user2]
            No one loses money!
          - else
            No one wrote anything, what are you guys doing? PAY US!