= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, autofocus: true, input_html: { class: "span12" }
    = f.input :password, input_html: { class: "span12" }
    = f.input :remember_me, as: :boolean, label_html: { class: "inline" } if devise_mapping.rememberable?

  = f.button :submit, "Sign in", class: "btn btn-success btn-main"