!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Blogpactly
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %link{href:"http://fonts.googleapis.com/css?family=Varela+Round", rel: "stylesheet", type: "text/css"}
  %body
    .container
      .row-fluid
        .span8.offset2
          %header
            .navigation.pull-right
              - if user_signed_in?
                - if current_user.pacts.any?
                  = link_to "Overall", user_pacts_path( current_user )
                  = link_to "Blogpact", user_pact_path( current_user, current_user.pacts.first )
                - else
                  = link_to "Create a blogpact", new_pact_path( current_user, current_user.pacts.first )
                = link_to "You", user_path( current_user )
                = link_to "Logout", destroy_user_session_path, method: :delete
              - else
                = link_to "Login", new_user_session_path
            %h1
              = link_to root_path do
                %span{rel: "tooltip-show", title: ( "Hi yo, #{current_user.name} :)" if user_signed_in? ), data: { placement: "right" } } 
                  Blogpact
                  %span.dot> .
                  ly&nbsp;
          %br
          = yield