!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Blogpactly
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %link{href:"http://fonts.googleapis.com/css?family=Varela+Round", rel: "stylesheet", type: "text/css"}
  %body
    .container
      .span4.offset4
        .row-fluid
          %h1
            %span{rel: "tooltip-show", title: ( "Hi yo, #{current_user.name} :)" if user_signed_in? ), data: { placement: "right" } } Blogpact.ly&nbsp;
          %p This is blogpact.ly and blah blah blah.

          - flash.each do |key, msg|
            .alert{class: "alert-#{key}"}
              = msg

          = yield
          - if user_signed_in?
            = link_to "Logout", destroy_user_session_path, method: :delete, class: "btn"